@model Student

<h2>Student Details</h2>
<p><b>Id:</b> @Model.Id</p>
<p><b>Name:</b> @Model.Name</p>
<img src="/Images/@Model.ImgUrl" width="90px" />
<p>
	<a asp-action="ShowAllStudent">back</a>
</p>
